/*********************************************************************Tag Selectors***************************************************/

img:hover {
  background-color: silver;
}


/*********************************************************************Class Selectors***************************************************/
.circular{
  background-color: orange;
  border-radius: 100%;
}
/*********************************************************************ID Selector*******************************************************/
#heading{
  color: orange;
}
